.ContentHeader{
    background-color:#f7f8fa;
    min-width: 1px;
    min-height: 44px;
    overflow: hidden;
    position: relative;
}

.ContentHeader div{
    max-width:1170px;
    margin:0px auto;
    top:10px;
    position:relative;
    
}
.ContentHeader ul{
    list-style:none;
    justify-content: space-between;
    display:flex;
    padding:0px;
    margin:0px;
}

.ContentHeader ul li {
    font-size:13px;
    padding:0px 20px;
    color: #686f7a;
}

.ContentHeader ul li span{
    padding:0px 5px;
    display:inline-block;
}

.ContentHeader ul li:first-child{
    font-weight:700;
    font-size: 15px;
    padding:0px 20px 0px 0px;
}

.ContentHeader ul li:hover {
    /*background-color: #494b50;*/
    cursor:pointer;
    /*color:white;*/
}

@media(max-width:1169px){
    .ContentHeader {
        display:none;
    }  
}