.ContentHeader{
    background-color:#f7f8fa;
    flex: 1;
    min-width: 1px;
    min-height: 44px;
    overflow: hidden;
    position: relative;
    padding:0px 50px;
}

.ContentHeader ul{
    list-style:none;
    align-self:flex-start;
    display:flex
}

.ContentHeader ul li {
    font-size:13px;
    padding:0px 20px;
    color: #686f7a;
}

.ContentHeader ul li span{
    padding:0px 5px;
    display:inline-block;
}

.ContentHeader ul li:first-child{
    font-weight:700;
    font-size: 15px;
}

.ContentHeader ul li:hover {
    /*background-color: #494b50;*/
    cursor:pointer;
}
