.Author{
    
}


.Author header{
    background-color:#007791;
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 1.43;
}

.Author >div{
    display:flex;
    padding:25px 0px 0px 0px
}


@media (min-width: 1200px){
    .Author header>div{
        width: 1000px;
        margin:0px auto;        
        padding: 34px 15px;
        display: table;
        table-layout: fixed;
        box-sizing: border-box;
    }

    .Author h2{
        font-size: 18px;
        font-weight: 400;
        line-height: 1.287;
        margin: 7px 0 0;
    }

    .Author h1{
        font-size: 30px;
        font-weight: 400;
        line-height: 1.287;
        margin: 0;
    }

    .Author > div{
        width: 1000px;
        margin:0px auto;
    }

    .Author aside{
        width:250px;
        text-align: center;
        
    }

    .Author aside >div{
        width:100px;
        display:flex;
        justify-content:space-around;
        margin:0px auto;
        
    }

    .Author img{
        height:120px;
        width:120px;
        border-radius:50%;
        border:0px;
        /*display:block;*/
        margin:0px auto 20px;
    }

    .Author footer{
        display:flex;
        margin-top:30px;
        margin-bottom:10px;
        box-shadow: border-box;
    }

    .Author footer>div{
        border-left:1px solid #000000;
        padding:0px 10px;
        text-align: center;
        align-items: center;
    }


    .Author footer h3{
        padding:0px;
        margin:0px;
        font-size: 86%;
    }
       

    .Author footer p{
        padding:0px;
        margin:0px;
        font-size: 24px;
    }


}


